@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  padding: 2rem;
}

/* REFACTORED */

.login__button,
.form__button {
  border: none;
  font-size: 2.2rem;
  cursor: pointer;
}

.navigation-bar p,
.balance__label,
.movements__type,
.summary__label {
  font-weight: 500;
}

.navigation-bar form,
.movements__value,
.operations-container,
.button--sort,
.logout-timer {
  justify-self: end;
}

/* NAVIGATION */

.navigation-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.navigation-bar,
.login-info {
  padding: 0 2rem;
}

.navigation-bar p {
  justify-self: start;

  font-family: inherit;
  font-size: 1.9rem;
}

.navigation-bar img {
  justify-self: center;

  height: 5rem;
}

.navigation-bar form {
  display: flex;
  column-gap: 1.4rem;
}

.login__input {
  font-size: 1.6rem;
  border: none;
  border-radius: 20rem;
  padding: 1rem 0;
  width: 12rem;
  text-align: center;
}

.login__input::placeholder {
  color: rgb(192, 192, 192);
}

/* APP MAIN */

.app {
  max-width: 100rem;
  margin: 5rem auto;
  opacity: 0;
  transition: all 1s;

  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: auto;
  column-gap: 2rem;
  row-gap: 3rem;
}

/* BALANCE */

.balance {
  grid-column: span 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance__label {
  font-size: 2.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: gray;
}

.balance__value {
  font-size: 4.4rem;
}

/* MOVEMENTS */

.movements {
  background-color: #fff;
  height: 50rem;
  border-radius: 1rem 0 0 0;
  overflow: scroll;
}

.movements__row {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr;
  align-items: center;

  border-bottom: 1px solid #eee;
  padding: 2.2rem 3.8rem;
}

.movements__type,
.movements__date {
  justify-self: start;

  font-size: 1.19rem;
  text-transform: uppercase;
}

.movements__type {
  align-self: center;

  color: #eee;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
}

/* OPERATIONS */

.operations-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 50rem;
  width: 100%;
}

.operation {
  width: 100%;
  padding: 3rem 4.2rem;
  border-radius: 1rem;
}

.operation-title {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.form {
  display: flex;
  column-gap: 1rem;
}

.form__input {
  width: 13.6rem;
  padding: 0.3rem 1rem;
  margin-bottom: 0.4rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  border-radius: 0.6rem;
}

.form__label {
  display: block;
  text-align: center;
  font-size: 1.3rem;
}

.form__button {
  align-self: flex-start;

  background-color: #fff;
  padding: 0.2rem 1.5rem;
  border-radius: 0.6rem;
}

/* SUMMARY */

.summary {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  align-items: baseline;
  column-gap: 2rem;
}

.summary__label {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 0.6rem;
}

.summary__value {
  display: inline-block;

  font-size: 2.2rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.button--sort {
  border: none;
}

.button--sort:hover {
  color: #808080;
  cursor: pointer;
}

/* LOGOUT TIMER */

.logout-timer {
  font-size: 1.28rem;
  align-self: end;
}

.timer {
  font-weight: 600;
}
